
#counter_status {
    font-size: clamp(10px, 6vw, 25px);
}

#counters_container {
    display: flex;
    font-family: 'Work Sans', sans-serif;
    font-weight: 800;
}

.counter_container {
    margin-block: 1rem;
}

.precise_counter_container span {
    font-size: clamp(25px, 13vw, 100px);
    line-height: 1em;
}

.precise_counter_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.explicationLan{
    width: 40%;
}
.content-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}
.landing_page{
    width: 100vw;
    height: 100vh;
}
.infos-lan{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80%;
    margin:0 auto;
    gap:50px;
    margin-top:50px;
}
.written-infos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    gap:30px;
}
.button-section{
    display: flex;
    flex-direction: row;
    gap: 50px
}
.univ-tln{
    width: 500px;
    border-radius:15px;
    box-shadow: 5px 5px #f9d71c;
}
.infos-lan{
    position: relative
}
.el_1 img {
    position: absolute;
    width: 200px;
    height: 200px;
    top: -15%;
    right: 85%;
}
@media only screen and (max-width:1150px) {
    .infos-lan{
        flex-direction: column;
        align-items: center;
    }
    .button-section{
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .infos-txt{
        text-align: center;
    }
    .univ-tln{
        width: 90%;
    }
    .photos-lan{
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
    }
    .written-infos{
        width: 90%;
    }
    .explicationLan{
        width: 90%;
    }
}