/**
 * mmilan, website that manage e-sport teams
 * Propulsed by Arthur Mondon.
 *
 * @author     Arthur Mondon
 *
 * Contributors :
 * -
 *
 */

 *, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: opacity 0.2s;
    font-family: Arial, Helvetica, sans-serif;
}

body {

    color: black;
    font-size:16px;
    margin-top: 64px;
    padding-top:15px;
    /*display: flex;*/
    /*justify-content: center;*/
    background-size: cover;
    background-position-x: -10px;
    background-position-y: 0px;
}

a{
    text-decoration:none;
    color:black;
}

a:hover{
    opacity:0.8
}

.links_txt{
    font-size:14px;
    color:white;
    text-decoration: underline;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 30px;
    /* box-shadow: 0px 0px 20px grey; */
    border-radius:10px;
    margin-top:25px;
    text-align: center;
    align-items: center;
}


#tel_input{
    display:none;
}
#click_to_use_mail{
    display:none;
}



input[type=text],input[type=email],input[type=tel],input[type=password], textarea, select{

    background-color: white;
    padding: 0px 1em;
    border-radius: 5px;
    height: 2.5em;
    border: 1px solid rgb(200, 200, 200);
    font-size:16px;

}


/* input[type=button], input[type=submit] {
    background-color: #F87575;
    color: white;
    border: 0;
    padding: 10px 60px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    font-size:16px;
    box-shadow: 0px 0px 0px grey;
} */

input[type=color] {
    padding: 0;
    border: 0;
}

input[type=button]:hover, input[type=submit]:hover {
    opacity:0.8;
}


#click_to_use_mail:hover, #click_to_use_phone:hover{
    opacity:0.8;
}

.more_txt{
    margin-left: -395px;
    margin-top: -5px;
    cursor: pointer;
    font-size: 14px;
    color: white;
    text-decoration: underline;

}




.modal{
    position:fixed;
    max-width: 350px;
    z-index: 10;
    margin-top: 100px;
    padding: 25px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 1px 1px #fff inset;
    -webkit-box-shadow: 0 1px 1px #fff inset;
    box-shadow: 0 1px 1px #fff inset;
    cursor:pointer;
}

.error{
    background-color: pink;
    border: 1px solid #ff0000;
}

.success{
    border: 1px solid #a2d246;
    background-color: #ebf8a4;
}


.box{
    display: flex;
    flex-direction: column;
    /*max-width: 400px;*/
    background-color:white;
    /*width: 100%;*/
    padding: 30px;
    box-shadow: 0px 0px 20px grey;
    border-radius:10px;
    margin-top:25px;
    text-align: center;
    align-items: center;
    position:relative
}
.page_picture{
    width:60px;
    border-radius:500px;
    margin:10px;
}

.preview_background{
    width:250px;
    height: 130px;
    border: 1px solid grey;
    cursor:pointer;
}
label{
    position:relative;
}

#list_new_backgrounds{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

.onclick-menu {
    position: absolute;
    display: inline-block;
    top: 0;
    right: 0;
    padding-right:10px;
}
.onclick-menu:before {
    content: "...";
}
.onclick-menu:focus {
    /* clicking on label should toggle the menu */
    pointer-events: none;
}
.onclick-menu:focus .onclick-menu-content {
    /*  opacity is 1 in opened state (see below) */
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    background-color:white;
    padding:10px;border-radius:15px;
    box-shadow: 0px 0px 20px grey;
    margin-left: -60px;
    margin-top: 10px;
    text-align:left;
}
.onclick-menu-content {
    position: absolute;
    z-index: 1;
    width:150px;
    /* use opacity to fake immediate toggle */
    opacity: 0;
    visibility: hidden;
    transition: visibility 0.5s;
}




.prices_txt{
    color:#0277bd;
}

/* FONT IMPORT */
/* 
* 1. WORK SANS
*/
@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");
/*
* 2. Akira Expanded
*/
@font-face {
  font-family: "Akira";
  src: url("../../fonts/Akira.otf");
  type: "opentype";
  font-weight: normal;
}
:root {
  --color-primary: #f9d71c;
  --color-dark: #0a1929;
  --color-light: #e7e7e7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
  background-color: var(--color-dark);
  position: relative;
  overflow-x: hidden;
}

.frise {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: var(--screen-width);
  z-index: -1;
}
.frise img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.section-viewer {
  position: fixed;
  right: 3rem;
  top: 50%;
  transform: translateY(-50%);
  color: white;
}
.section-viewer ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style: none;
  position: relative;
}
.section-viewer ul li {
  width: 2.5rem;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-viewer ul li a {
  color: white;
  text-decoration: none;
  cursor: pointer;
  font-weight: 800;
}
.section-viewer ul li a.active {
  color: var(--color-dark);
}
.section-viewer .cursor {
  position: absolute;
  z-index: -1;
  width: 2.5rem;
  aspect-ratio: 1/1;
  transition: all 0.3s ease;
  top: 0;
}
.section-viewer .cursor::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 2px solid var(--color-primary);
}
.section-viewer .cursor::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: var(--color-primary);
  z-index: -1;
}
.section-viewer::before {
  content: "";
  position: absolute;
  top: -80%;
  left: 50%;
  transform: translateX(-50%);
  width: 1px;
  height: 70%;
  background-color: white;
}
.section-viewer::after {
  content: "";
  position: absolute;
  bottom: -80%;
  left: 50%;
  transform: translateX(-50%);
  width: 1px;
  height: 70%;
  background-color: white;
}

/* All titles style */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Akira", sans-serif;
  color: var(--color-light);
}

/* All text style */
p {
  font-family: "Work Sans", sans-serif;
  color: var(--color-light);
}

/* FORMULAIRES */
.input-group {
  position: relative;
  margin-top: 1.75rem;
  width: 565px;
}
.input-group label {
  position: absolute;
  top: 45%;
  left: 0.25rem;
  padding: 0 10px;
  background-color: transparent;
  color: var(--color-dark);
  transition: all 0.3s ease;
  transform: translateY(-50%);
  z-index: 1;
}
.input-group input {
  padding: 10px;
  width: 100%;
  z-index: 1;
}
.input-group input:not(:-moz-placeholder-shown) + label {
  top: -0.75rem;
  font-size: 0.85rem;
  color: var(--color-primary);
}
.input-group input:not(:-ms-input-placeholder) + label {
  top: -0.75rem;
  font-size: 0.85rem;
  color: var(--color-primary);
}
.input-group input:focus + label, .input-group input:not(:placeholder-shown) + label {
  top: -0.75rem;
  font-size: 0.85rem;
  color: var(--color-primary);
}
.input-group.error input {
  border: 1px solid red;
  color: red;
  background-color: rgb(255, 189, 182);
}
.input-group.error input:focus {
  outline: 1px solid red;
}
.input-group.error input:not(:-moz-placeholder-shown) + label {
  color: red;
}
.input-group.error input:not(:-ms-input-placeholder) + label {
  color: red;
}
.input-group.error input:focus + label, .input-group.error input:not(:placeholder-shown) + label {
  color: red;
}
.input-group::after {
  content: "";
  position: absolute;
  top: 0.35rem;
  left: 0.35rem;
  width: 100%;
  height: 100%;
  background-color: var(--color-primary);
  z-index: -1;
  border-radius: 5px;
}

input {
  font-family: "Work Sans", sans-serif;
  color: var(--color-dark);
  background-color: var(--color-light);
  border: 2px solid var(--color-dark);
  outline: none;
  border-radius: 5px;
  padding: 5px;
}
input:focus {
  border: 2px solid var(--color-primary);
  outline: none;
}

/*  BOUTONS  */
input[type=button], input[type=submit] {
  background-color: var(--color-light);
  border: none;
  border-radius: 19px;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 271px;
  height:70px;
}

.btn {
  font-family: "Work Sans", sans-serif;
  font-weight: 800;
  font-size: 25px;
  border: none;
  border-radius: 10px;
  padding: 0.5rem 1.25rem;
  margin-block: 0.5rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.btn.btn__primary {
  background-color: var(--color-primary);
  color: var(--color-dark);
  border: 2px solid var(--color-primary);
}
.btn.btn__primary:hover {
  background-color: var(--color-dark);
  color: var(--color-primary);
}
.btn.btn__secondary {
  background-color: var(--color-dark);
  color: var(--color-primary);
  border: 2px solid var(--color-primary);
}
.btn.btn__secondary:hover {
  background-color: var(--color-primary);
  color: var(--color-dark);
}
.btn.btn__dark {
  background-color: var(--color-light);
  color: var(--color-dark);
  border: 2px solid var(--color-dark);
}
.btn.btn__dark:hover {
  background-color: var(--color-dark);
  color: var(--color-light);
}
.btn.btn__light {
  background-color: var(--color-dark);
  color: var(--color-light);
  border: 2px solid var(--color-light);
}
.btn.btn__light:hover {
  background-color: var(--color-light);
  color: var(--color-dark);
}

/* BURGER MENU */
.burger-menu {
  position: relative;
  display: flex;
  cursor: pointer;
  height: 45px;
  width: 45px;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  padding-block: 10px;
  z-index: 1000;
}
.burger-menu span {
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 15px;
  background-color: var(--color-primary);
  transition: 0.5s ease;
}
.burger-menu.active span:nth-child(1) {
  width: 80%;
  transform: translateY(11px) rotate(135deg);
}
.burger-menu.active span:nth-child(2) {
  width: 80%;
  transform: rotate(-135deg);
}
.burger-menu.active span:nth-child(3) {
  transform: scale(0);
}
.burger-menu.white span {
  background-color: var(--color-light) !important;
}

/* titres */
.head_title {
  position: relative;
  margin: 0.5rem 1rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-shadow: 0 0 10px rgba(10, 25, 41, 0.5);
  z-index: 1;
}
.head_title::after {
  content: "";
  position: absolute;
  bottom: -0.15rem;
  left: -0.5rem;
  width: 120%;
  height: 0.75em;
  background-color: var(--color-primary);
  z-index: -1;
}
.head_title.primary {
  color: var(--color-light);
}
.head_title.primary::after {
  background-color: var(--color-primary);
}
.head_title.secondary {
  color: var(--color-dark);
}
.head_title.secondary::after {
  background-color: rgba(10, 25, 41, 0.5);
}

/* NAVLINKS */
.nav-links-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}
.nav-links-container.active {
  opacity: 1;
  visibility: visible;
}
.nav-links-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.nav-links-container ul li a {
  position: relative;
  overflow-x: hidden;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-family: "Work Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: 800;
  color: var(--color-light);
  text-decoration: none;
  transition: all 0.3s ease;
  margin: 0.5rem 1rem;
  padding: 0.5rem 0;
}
.nav-links-container ul li a::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  left: -100%;
  background-color: var(--color-primary);
  transition: all 0.3s ease;
}
.nav-links-container ul li a:hover {
  color: var(--color-primary);
}
.nav-links-container ul li a:hover::after {
  left: 0;
}
.nav-links-container ul li.active a::after {
  left: 0;
}

/* Photos de profile */
.profil-pic {
  margin: 0 auto;
  position: relative;
  width: 60%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  overflow: hidden;
  border: 0.35rem solid var(--color-primary);
  box-shadow: 0 0 15px rgba(249, 215, 28, 0.5);
}
.profil-pic img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}/*# sourceMappingURL=ui-kit.css.map */
