.infos-lan {
  padding-top: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 50px;
  width: 100vw;
  height: 100vh;
}
.second-part {
  display: flex;
  flex-direction: column;
  width: 600px;
}
.img-lan {
  width: 600px;
  height: 400px;
  border: 1px solid white;
  box-shadow: 5px 5px #f9d71c;
  border-radius: 15px;
}
.txt-lan {
  width: 65%;
  font-size: 15px;
}
.date-lan {
  width: 65%;
  padding-bottom: 5%;
}
.lan-information {
  padding-left: 10%;
}

.infos-position {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 50px;
  width: 100vw;
  height: 100vh;
}

.gmaps-effect {
  border-radius: 15px;
  filter: grayscale(85%) invert(100%);
  width:600px;
  height:450px
}
.positions-info {
  width: 65%;
  font-size: 20px;
}
.lan-position {
  padding-right: 0px;
  padding-bottom: 50px;
}
.position {
  display: flex;
  flex-direction: column;
}

#laninfos #gmaps {
  position: relative;
  width: 100%;
}

.el_1 {
  position: absolute;
  z-index: -1;
  width: 120%;
  height: 120%;
  bottom: 400px;
  right: calc(var(--screen-width) / 2);
}
.el_2 {
  position: absolute;
  z-index: -1;
  width: 15%;
  height: 15%;
  left: 1000px;
  top: 160px;
}
.el_3 {
  position: absolute;
  z-index: -1;
  width: 17%;
  height: 17%;
  left: 1000px;
  top: 800px;
}




.presentationJeux{
  background-color: #f9d71c;
  padding-top: 100px;
  padding-bottom: 100px;
}

.carousel {
  display: none;
  width: 100%;
  height: 550px;
  font-family: Arial;
  align-items: center;

}
.carousel__list{
    display: flex;
    list-style: none;
    padding:none;
    width: 100%;
    height: 100%;
    justify-content: center;
    perspective: 300px;
    padding-left: 0px;
    align-items: center;
  }
  
  .carousel__item {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    width: 253px;
    height: 450px;
    border-radius: 30px;
    box-shadow: 1px 1px 40px 4px black;
    position: absolute;
    transition: all .4s ease-in;
  }
  .carousel__item[data-game="mmilan"] {
    background: url("../Elements/images/mmilan.png");
    background-size: cover;
    }
    .carousel__item[data-game="fallguys"] {
        background: url("../Elements/images/fallguys.jpg");
        background-size: cover;
        filter: grayscale(0.2);
    }
    .carousel__item[data-game="rocketleague"] {
        background: url("../Elements/images/rocketleague.jpg");
        background-size: cover;
    }
    .carousel__item[data-game="overwatch"] {
        background: url("../Elements/images/overwatch.jpg");
        background-size: cover;
        
    }
    .carousel__item[data-game="cityguesser"] {
        background: url("../Elements/images/cityguesser.jpg");
        background-size: cover;
    }
    .carousel__item[data-game="switchsports"] {
        background: url("../Elements/images/switchsports.jpg");
        background-size: cover;
      }
      .carousel__item[data-game="mystere"] {
        background: url("../Elements/images/mystere.jpg");
        background-size: cover;
      }
    
    .carousel__item[data-pos="0"] {
      z-index: 5;
    }
    
    
    
    .carousel__item[data-pos="-1"] {
      transform: translateX(-60%) scale(.8);
      z-index: 4;
      
    }
    
    .carousel__item[data-pos="1"] {
      transform: translateX(60%) scale(.8);
      z-index: 4;
      
    }
    
    
    
    .carousel__item[data-pos="-2"] {
      transform: translateX(-100%) scale(.7);
      z-index: 3;
      
    }
    
    .carousel__item[data-pos="2"] {
      transform: translateX(100%) scale(.7);
      z-index: 3;
      
    }

    .carousel__item[data-pos="3"] {
        opacity:0;
        transform: translateX(-100%) scale(.7);
        
      }

      .carousel__item[data-pos="-3"] {
        opacity:0;
        transform: translateX(100%) scale(.7);
        
      }
    

    .game{

display:none;
justify-content: center;
flex-direction: row;
height:150px;
align-items: center;

    }


    .left_arrow{
height:80px;
        width:80px;
    }

    .gametext{
        display: flex;
        width:400px;
        padding-left: 60px;
        padding-right: 60px;
        text-align: center;
        
    }

    .gametext div{
        flex-direction: column;
    }

    .gametext h2{
        color: black;
        margin-top: 0px;
        margin-bottom: 0px;
        font-size:2.5em;
    }

    .gametext p{
        color: black;
font-size: large;

    }



.right_arrow{
    height:80px;
    width:80px;
}

.overwatch{
  display:none;
  
}

.rocketleague{
  display:none;
}

.cityguesser{
  display: none;
}

.fallguys{
  display:none;
}

.mmilan{
  display:flex;
}

.switchsports{
  display:none;
}

.mystere{
  display:none;
}

.TitreJeux{
    display:flex;
    justify-content: center;
    padding-right:25%;
    
    
    
}

.TitreJeux h2{
  font-weight: 800;
  font-size: xx-large;
    color: #0a1929;;
}



  .jeux{
    display:flex;
    width:106%;
    height:550px;
    margin-left:-3%;
    
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    
    
  }

  .jeux__item {
    
    
    display:flex;
        flex-direction: column;
        justify-content: center;
    width: 100%;
    height: 90%;
    
    box-shadow: 0px 0px 20px black;
    transform:skewX(8deg);
    transition:ease 0.2s;
    
    
   
  }

  .jeux__item:hover{

    transform:  skewX(8deg);
    width: 150%;
    z-index:9999;
    
    
  }

  

  .jeumystere{
    display: flex;
    width:100%;
    height:200px;
    padding-top: 50px;
    
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
  }



  .jeux__item[data-game="mystere"] {
    background:linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../Elements/images/mystere.jpg");
    background-size: 350px 500px;
    
    }
    .jeux__item[data-game="mystere"]:hover {
      background:linear-gradient(0deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.3)), url("../Elements/images/mystere.jpg");
      background-size: 372px 530px;
      
    }
    .jeux__item[data-game="fallguys"] {
        background:linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../Elements/images/fallguys.jpg");
        background-size: 350px 500px;
       
        
        
    }
    .jeux__item[data-game="fallguys"]:hover {
      background:linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../Elements/images/fallguys.jpg");
      background-size: 372px 530px;
      
    }


    .jeux__item[data-game="rocketleague"] {
        background:linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../Elements/images/rocketleague.jpg");
        background-size: 350px 500px;

    }
    .jeux__item[data-game="rocketleague"]:hover {
      background:linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../Elements/images/rocketleague.jpg");
      background-size: 372px 530px;
      
    }
    .jeux__item[data-game="overwatch"] {
        background:linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../Elements/images/overwatch.jpg");
        background-size: 350px 500px;
        
        
    }.jeux__item[data-game="overwatch"]:hover {
      background:linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../Elements/images/overwatch.jpg");
      background-size: 372px 530px;
      
      
      
  }
    .jeux__item[data-game="cityguesser"] {
        background:linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../Elements/images/cityguesser.jpg");
        background-size: 350px 500px;

    }.jeux__item[data-game="cityguesser"]:hover {
      background:linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../Elements/images/cityguesser.jpg");
      background-size: 372px 530px;
      
  }
    .jeux__item[data-game="switchsports"] {
        background:linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../Elements/images/switchsports.jpg");
        background-size: 350px 500px;
        
        
        
      }.jeux__item[data-game="switchsports"]:hover {
        background:linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../Elements/images/switchsports.jpg");
        background-size: 372px 530px;
        
      }


      

      .jeux__item div{
        
        opacity:0;
        padding-left: 3%;
        padding-right: 3%;
        flex-direction: column;
        text-align: center;
        color: white;
        
        transition: ease 0.2s;
        
        
        
        
      }
      .jeux__item div:hover{
        
        
        opacity:1;
        
        
        
      }

      .jeux__item[data-game="switchsports"] div{
        padding-left: 3%;
        padding-right: 16%;
        
      }

      .jeux__item[data-game="mystere"] div{
        padding-left: 16%;
        padding-right: 3%;
        
      }

      
.jeux__item:hover div {
  opacity:1;
}



/* Passage des jeux en carousel pour les petits écrans*/
@media (max-width: 1150px) {

  .jeux{
    display:none;
  }.jeumystere{
    display:none;
  }
  
  .carousel{
    display:flex;
  }.game{
    display:flex;
  }
  .el_1{
    display: none;
  }
 .el_2{
   display: none;
 }
 .el_3{
  display: none;
 }
 .section-viewer{
  display: none;
}
  }
  
  /* responsive tablette */
  @media (max-width: 800px) {
    .carousel__item{
      width:220px;
      height:391px;
        }.gametext{
          padding-left: 0px;
          padding-right: 0px;
        }.game{
          padding-top: 25px;
          padding-left: 15px;
          padding-right: 15px;
         
        }.carousel{
          
          height:391px;
          padding-bottom: 15px;
        }.gametext h2{
          font-size: 2em;
        
        }.TitreJeux{
          padding-bottom: 15px;
        }
        .gametext p{
          padding-bottom: 20px;
        }
  
    }

  /* responsive petite tablette */
  @media (max-width: 670px){
    .section-viewer{
      display: none;
    }
    .game{
      padding-top: 0;
    }.carousel{
      height:350px;
    }
    .carousel__item{
      
      width:157px;
      height:280px;
        }
        .left_arrow{
          width:50px;
          height: 50px;
        }
        .right_arrow{
          width:50px;
          height: 50px;
        }
        .gametext p{
          font-size:medium;
          padding-left:15px ;
          padding-right: 15px;
          width: 90%;
        }
  }

  
@media only screen and (max-width: 670px) {
  .infos-lan {
    flex-direction: column-reverse;
  }
  .presentationJeux{
    margin-top: 50px;
  }
  .lan-explication{
   display: flex;
   justify-content: center;
  }
  .img-lan{
    width: 65%;
  }
  .txt-lan{
    
    text-align: center;
  }
 .lan-information{
  text-align: center;
  padding-left: 150px;
 }
 .txt-lan{
  width: 50%;
 }
 .lan-explication{

  display: flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;
  }
 .infos-position{
  flex-direction: column-reverse;
 }
 .position{
  align-items: center;
 }
 .positions-info{
  text-align: center;
 }
 .gmaps-effect{
  width: 300px;
  height: 150px;
 }
 .el_1{
    display: none;
  }
 .el_2{
   display: none;
 }
 .el_3{
  display: none;
 }
}
/* responsive gros téléphone */
@media (max-width: 430px){

  .carousel{
    padding-bottom: 0px;
    height:248px;
  }
  .carousel__item{
    width:140px;
    height:248px;
      }.game{
        padding-top: 15px;
        padding-left: 15px;
      padding-right: 15px;
      }.left_arrow{
        width:50px;
        height: 50px;
      }.right_arrow{
        width:50px;
        height: 50px;
      }
      .gametext h2{
      font-size: 1.5em;
      }.gametext p{
        font-size:0.9em;
        padding-left:15px ;
        padding-right: 15px;
      }.carousel__item[data-pos="-2"] {
        transform: translateX(-90%) scale(.7);
        z-index: 3;
        
      }
      
      .carousel__item[data-pos="2"] {
        transform: translateX(90%) scale(.7);
        z-index: 3;
        
      
}}

/* responsive petit téléphone */
@media (max-width: 360px){
  .carousel__item{
    width:125px;
    height:222px;
      }.gametext h2{
        font-size: 1.3em;
        }.gametext p{
          font-size:0.8em;
          
        }

}