body {
  min-height: 100vh;
}

#inscription {
  position: relative;
  width: 100%;

  padding-top: 100px;

  overflow: hidden;
}

#inscription .inscription_form_container {
  max-width: 1000px;
  margin: 0 auto 3rem auto;
  padding-inline: 20px;
}

#inscription form {
  display: flex;
  flex-flow: column wrap;

  backdrop-filter: blur(10px);
  background: #53616e70;
  border-radius: 10px;
  padding: 1rem;

  gap: 1rem;

  margin-inline: auto;
  max-width: 90vw;
}

#inscription .inputs_container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  align-content: flex-start;
  gap: 1rem;
}

.end_of_form {
  margin-top: 2rem;
}

select option {
  color: #000;
}

.tgl1 {
  position: absolute;
  width: 100%;
  z-index: -1;
}

.triangle_1,
.triangle_2 {
  position: absolute;
  z-index: -1;
  top: 50%;
  transform: translateY(-50%);
}

.triangle_1 {
  left: 0;
}

.triangle_2 {
  right: 0;
}

.triangle_1 img,
.triangle_2 img {
  width: 200%;
  height: 200%;
  object-fit: cover;
}

.frise {
  position: absolute;
  height: 100%;
  overflow: hidden;
}

.input-group {
  flex: 1 1 300px;
  max-width: none !important;
}

.input-group:last-child {
  flex: 0 0 50%;
}

.btn_submit {
  font-weight: bold;
  margin-inline: auto;
}

@media only screen and (max-width: 720px) {
  .input-group:last-child {
    flex: 1 0 50%;
  }
}
