#inscription {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
    overflow: hidden;
    height: 100%
}

#inscription .form {
    margin-bottom: 5rem;
    margin-top: 5rem;
    backdrop-filter: blur(10px);
    background: #53616e70;
    height: 665px;
}

.form {
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.tgl1 {
    position: absolute;
    width: 100%;
    z-index: -1;
}

.tgl1 img {
    height: 894px;
    margin-left: 651px;
    margin-bottom: -390px;
    rotate: -155deg;
}

.tgl2 {
    position: absolute;
    width: 100%;
    z-index: -1;

}

.tgl2 img {
    height: 894px;
    margin-left: -277px;
    margin-bottom: 35px;
    rotate: -335deg;
}

.frise {
    position: absolute;
    height: 100%;
    overflow: hidden;
}

/* 
.input_container {
    width: 49% !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: flex-start !important;
} */
.input-group {
    margin: 12px auto;
    max-width: 500px !important;
}

p.links_txt {
    margin-left: 1400px;
}

.conditions_text {
    margin-right: 41%;
    margin-left: 41%;
}

.btn_submit {
    font-weight: bold;
    margin-right: 42%;
    margin-left: 42%;
}

.head_title.primary {
    margin-top: -620px;
    margin-left: -650px;
    position: absolute;
    font-size: 35px;
}

@media (min-width:551px) and (max-width:1170px) {
    #inscription .form {
        display: block;
        width: 50%;
        height: 690px;
    }

    .conditions_text {
        margin-right: 6%;
        margin-left: 6%;
        width: 100%;
    }

    .head_title.primary {
        color: var(--color-light);
        margin-top: -620px;
        margin-left: -60px;
        position: absolute;
        font-size: 35px;
    }
}

@media (min-width:416px) and (max-width:550px) {
    #inscription .form {
        display: block;
        width: 28%;
    }

    .conditions_text {
        margin-right: 0%;
        margin-left: 0%;
    }

    .btn_submit {
        margin-right: 0%;
        margin-left: 25%;
    }

    .head_title.primary {
        margin-top: -620px;
        margin-left: 12px;
        position: absolute;
        font-size: 30px;
    }
}

@media (min-width:360px) and (max-width:420px) {
    #inscription .form {
        display: block;
        width: 20%;
    }

    .conditions_text {
        margin-right: 0%;
        margin-left: 0%;
    }

    .btn_submit {
        margin-right: 0%;
        margin-left: 10%;
    }

    .head_title.primary {
        margin-top: -620px;
        margin-left: -5px;
        position: absolute;
        font-size: 28px;
    }
}