.teams_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  gap: 2rem;
}

.team_container {
  flex: 1 0 25%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  transition: all 0.3s ease-in-out;
}

.team_container .team_logo {
  height: 300px;
  aspect-ratio: 1/1;
  padding: 10%;
  background-color: hsl(212, 61%, 13%);
  border-radius: 1rem;
  box-shadow: 0.5rem 0.5rem 0 #f9d71c;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.team_container .team_logo img {
  height: 100%;
  aspect-ratio: 1/1;
  object-fit: contain;
}

.team_infos {
  min-height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.team_container .team_name {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
}

.team_link {
  margin-inline: auto;
}

.landing-team {
  width: 100%;
  background-image: linear-gradient(
    225deg,
    rgba(10, 25, 41, 0.3),
    rgba(78, 59, 203, 0.4) 85%
  );
  height: 100vh;
  display: flex;
  position: relative;
  overflow: hidden;
  z-index: 0;
}

a.back_teams {
  padding: 1rem;
  font-size: 1.25rem;
  position: relative;
}

a.back_teams::before {
  content: "<";
  line-height: 1;
  margin-inline: 1rem;
  position: absolute;
  left: -1.25rem;
  top: 50%;
  transform: translateY(-50%);
  color: #f9d71c;
}

.landing-team .team {
  width: min(100%, 640px);
  height: calc(100% - 100px);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.landing-team .team_logo {
  z-index: -1;
  right: 5vw;
  bottom: 1rem;
  position: absolute;
  height: 80%;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing-team .team .team_name h1 {
  font-size: clamp(1.75rem, 4vw, 3.25rem) !important;
  font-weight: 700;
  margin-bottom: 0.5rem;
  text-align: end;
  word-wrap: break-word;
  word-break: break-all;
}

.landing-team .team .team_description p {
  font-size: clamp(1.25rem, 4vw, 2rem);
  text-align: end;
  word-wrap: break-word;
  word-break: break-all;
}

.landing-team .team_logo img {
  height: 100%;
  aspect-ratio: 1/1;
  object-fit: contain;
}

.team_members {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  gap: 2rem;
  height: 100vh;
}

.team_member {
  flex: 1 0 25%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.team_member .team_member_name {
  font-size: 1.5rem;
  font-weight: 700;
}

@media only screen and (max-width: 1300px) {
  .landing-team {
    flex-direction: column;
  }

  .landing-team .team {
    width: 100%;
    text-align: center;
    align-items: center;
    margin-top: 3rem;
  }

  .landing-team .team_logo {
    position: unset;
    width: 100%;
  }

  .landing-team .team_logo img {
    width: 80%;
    max-height: 50vh;
    height: unset;
  }

  .landing-team .team .team_name h1 {
    text-align: left;
  }

  .landing-team .team .team_description p {
    text-align: left;
  }
}
